*{
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: 'Manrope', sans-serif;
    width: 1400px;
    overflow-x: hidden;

}

.slideshow {
<<<<<<< HEAD
    width: 1350px;
=======
    width: 1440px;
>>>>>>> e29b1ae3768c681d9a2abcc35b1189bcb69fd917
    height: 902px;
    position: absolute;
    left: 0;
    top: 0;
}

.slide {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu{
    z-index: 9999;
    position: fixed;
    height: 48px;
    bottom: 15px;
    width: 361px;
    right: 71px;
    display: flex;
    list-style: none;
    padding: 1px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    backdrop-filter: blur(40px);
}

.menu:hover {
    background: rgba(255, 251, 0, 0.4);;
}

.nav-item {
    height: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    line-height: 24px;
}

.nav-item a {
    padding: 22px;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: black;
    font-style: normal;
}

.nav-item a:hover {
    font-weight: bold;
    border-radius: 33px;
    font-size: 14px;
}

.logo {
    position: absolute;
    height: auto;
    bottom: 151px;
    left: 71px;
}

.logo_ {
    position: fixed;
    z-index: 9999;
    height: auto;
    bottom: 15px;
    left: 71px;
    transition: opacity 0.3s ease-in-out;
}


.logo.hidden logo_ {
    opacity: 0;
  }

.container {
    margin-top: 114px;
    margin-bottom: 115.77px;
    display: flex;
    width: 100%;
}

.container img {
    position: absolute;
    width: 343.12px;
    height: 343.23px;
    left: 258px;
    top: 1016px;
}

.texto {
    color: black;
    list-style: none;
    position: absolute;
    width: 538px;
    height: 100px;
    left: 644px;
    top: 1138px;
}

.texto li {
    font-size: 40px;
    font-weight: 300;
    line-height: 55px;
    font-style: normal;
}

/*projetos*/

.grid-container {
    top: 1475px;
    height: 1622px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 155.77;
    grid-gap: 20px;
    position: absolute;
    left: 12.58px;
    right: 53px;
    width: 1200.42px;

}

.grid-item {
    text-align: left;
    position: relative;
}

.grid-item img {
    width: 430px;
    height: 524px;
    object-fit: cover;
    border-radius: 20px;

}

.grid-item p {
    margin-top: 5px;
    font-weight: bold;
}

.mensagem {
    position: absolute;
    bottom: -5px;
    left: 160px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: black;
    padding: 10px;
    transition: opacity 0.3s ease;
    font-size: 14px;
}


.grid-item:hover .mensagem {
    opacity: 1;
}

.mensagem1 {
    position: absolute;
    bottom: -5px;
    left: 110px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: black;
    padding: 10px;
    transition: opacity 0.3s ease;
    font-size: 14px;
}

.grid-item:hover .mensagem1 {
    opacity: 1;
}

.orcamento {
    top: 3320px;
    position: absolute;
    width: 1334px;
    height: 332px;
    left: 116px;
    right: 115px;
}

.msg {
    align-items: center;
    color: black;
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    line-height: 55px;
    margin-right: 800px;
}

.orcamento img {
    margin-left: 850px;
    display: flex;
    margin-top: -80px;
}

.meu-botao {
    position: absolute;
    margin-left: 650px;
    font-size: 24px;
    margin-top: -55px;
    white-space: nowrap;
    text-decoration: none;
    color: black;
    border-radius: 100px;
    background-color: rgb(212, 209, 209);
    cursor: pointer;
    font-weight: bold;
    padding: 0px 25px;
}

.ft {
    position: absolute;
    width: 1329px;
    height: 693px;
    top: 3604px;
    object-fit: cover;
}

.ft p {
    bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #f4f4f4;
}

.contato {
    position: absolute;
    width: 1334px;
    height: 233px;
    left: 53px;
    top: 4631px;
}

.frase {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    margin-top: 30px;
}

.botao-interativo {
    display: grid;
    justify-content: right;
    position: absolute;
    width: 950px;
    height: 154px;
    left: 380px;
    top: 4691px;
    grid-gap: 0px;
}

.botao {
    text-decoration: none;
    font-weight: 800;
    font-size: 32px;
    line-height: 24px;
    color: black;
    text-align: right;
}

footer {
    padding: 20px;
    position: absolute;
    width: 1360px;
    top: 4850px;
}

.divider {
    font-size: 16px;
    height: 1px;
    background-color: #1E1E1E;
}

.left {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-top: 22px;
}

.right {
    text-align: right;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    margin-top: -17px;
}
