/* Estilos CSS para o header e o conteúdo */
header {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  body {
    margin-top: 200px; /* Margem superior igual à altura do header */
  }
  
  /* Estilos CSS para o conteúdo da página */
  .content {
    /* Estilos do conteúdo */
  }
  
    /* Estilos CSS para a logo */
    .logo {
      width: 2000px;
      transition: width 0.3s ease;
    }